body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}

.wrapper{
    width: 980px;
    margin: 0 auto;
}

h1{
    font-size: 30px;
}

label{
    font-size: 16px;
}

.input_area{
    background-color: #ccc;
    padding: 5px;
}

.show_li{
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.show_left{
    width: 600px;
}

.show_right{
    width: 350px;
}

.show_img{
    width: 300px;
}

p{
    font-size: 16px;
    margin: 0;
    /* text-align: center; */
    /* border-bottom:1px solid #fff; */
}

ul{
    padding: 0;
    /* border-top: 1px solid #000000; */
    /* display:table;   */
    /* table-layout: fixed;
    width:100%; */
    list-style-type:none;
}

li{
    text-align: center;
    list-style-type:none;
    font-size: 16px;
    margin-bottom: 10px;
    /* border: 1px solid #666; */
    /* background-color: #FFF; */
    /* display:table-cell;  
    cursor: pointer; */
}
